@import "./menu.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
body {
  background-color: #42113c;
  color: #fff;
  height: 100%;
  line-height: 1.5;
}
h1.lg-heading {
  font-size: 6rem;
  font-weight: 600;
}
h2.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  font-weight: 400;
  color: #618b25;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
main {
  padding: 4rem 4rem 2rem 4rem;
  height: 100%;
}
main.home {
  overflow: hidden;
}
main.home h1 {
  margin-top: 20vh;
}
.icons {
  margin-top: 1rem;
}
.icons a {
  padding: 0.4rem;
}
.text p {
  padding-bottom: 2rem;
}
a:hover {
  color: #6bd425;
  transition: all 1s ease-out;
}
footer {
  text-align: center;
}
footer a {
  color: #618b25;
}
