.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out;
}
.btn-line {
  background-color: #fff;
  width: 28px;
  height: 3px;
  margin: 0 0 7px 0;
  transition: all 0.5s ease-out;
}
.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.close .btn-line:nth-child(2) {
  opacity: 0;
}
.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}
